@use "layout";
@use "variables" as *;



.header {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
}

.logo {
    font-size: 2em;
    font-weight: 700;

    img {
    max-width: 2em;
    display: block;
    }
}

.intro h1 {
    margin-top: 0;
    font-size: 2.5em;
}

.search-section {
    margin-bottom: 1.5em;

    label {
        display: block;
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }

    select {
        width: 100%;
        max-width: 10em;
        padding: 0.9em;
        border: 2px solid #959c7d;
        border-radius: 10px;
        font-size: 1em;
    }
}

#flag {
    width: 9em;
    height: auto;
    border-radius: 5px;
}


